body, main{
    height: 100vh;
    background:rgb(0, 209, 63);
    font-size: 2vw;
    display: table;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px;
    padding: 0px;
}
main{
    padding: 5px;
    background: rgba(255, 255, 255, 0.7);
    width: auto;
    height: auto;
    margin-bottom: 20px;
}
img{
    border: 2px black solid;
    width: 100vw;
    height: 100vw;
    max-width: 700px;
    max-height: 700px;
}
button, input{
    background: white;
    color: black;
}
button{
    border-radius: 20px;
    margin-right: 2px;
    margin-left: 2px;
}
button:hover{
    background: black;
    color: white;
}
a{
    color: white;
}
*{
    transition: .5s;
}
section{
    display: flex;
    justify-content: flex-end;
}
@media only screen and (min-width: 523px) {
    button, input{
        font-size: 2vw;
    }
}
@media only screen and (max-width: 522px) {
    button, input{
        font-size: 15px;
    }
    main{
        font-size: 15px;
    }
}
@media only screen and (max-width: 370px) {
    main div{
        display: flex;
        flex-direction: column;
        font-size: 20px;
    }
}